<a href="#">Back to the boards</a>

<h2><%= board.escape('title') %></h2>

<button id="delete" class="btn btn-primary">Delete</button>

<div class="row" id="lists_go_here"></div>

<div id="form_div"></div>

<h3>Current Members</h3>
<ul id="members_go_here"></ul>

<div id="member_div"></div>