<h3>Add a member!</h3>
<div id="messages" class="alert"></div>

<form id="member_form">
  <label> Email Address
    <input type="text" name="newMemberEmail" value="">
  </label>

  <input type="submit">
</form>