
<p>Rank <%= list.escape('rank') %></p>

<input style="color: black" class="new_card" name="card[title]"></input>

<h2><p><%= list.escape('title') %></p></h2>

<div id="cards_go_here" class="card_holder"></div>

